.form, .delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: rgb(225, 225, 225);
    
    padding: 2rem;
    border-radius: 20px;
}

.delete-confirmation {
    background-color: white;
    border: 1px solid  rgb(172, 172, 172);;

    &__title {
        margin-bottom: 2rem;
    }

    &__message {
        margin-bottom: 1rem;
    }

    &__button {
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
}

.confirm {
    background-color: #af4c4c;
}

.cancel {
    background-color: #4CAF50;
}

.hidden {
    display: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}

.blur, .blur-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px); 
}
